{:paths ["src"]
 :deps
 {hiccup {:mvn/version "1.0.5"}
  org.apache.commons/commons-lang3 {:mvn/version "3.10"}}
 :aliases
 {:dev {:extra-paths ["test"]
        :extra-deps {midje {:mvn/version "1.9.9"}}}}}
